/*Main CSS Style Sheet for all Components*/
*{
  margin:0;
  padding:0;
 
}
.header,.body,.footer{
  border:1vh solid black;

}










/*Navbar Component*/
.navbar{
  
  height:11vh;  background-color: rgb(77, 75, 133);
  margin-top:0;
  border:1vh solid black;
 border-bottom:0.5vh;

  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

 
}

.nav-items{
  color:white;
  text-decoration-line:none;
  font-size:2vw;
}

/*Header Component ends*/
/*Body Component*/
.body{
  height:80vh;
  background-color: rgb(192, 161, 35);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title{
  font-size:4vw;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  font-weight:600;
}
.slogan{
  font-size:4vw;
text-align:center;
font-size:2vw;
}

.sub-title{
  text-align:center;
  font-size:1.5vw;
}



.body-img{
  height:25vh;
  width:15vw;
justify-content: center;
text-align: center;
}
img{
    display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}





/*Body Component ends*/
/*Footer Component*/

.footer{
  height:11vh;
  display: flex;
  text-align:center;
  align-items: center;
  justify-content: center;
  background-color: rgb(200, 150, 64);
  border:.1vh solid black;
}

.footer-text{
  font-size:1.4vw;
}








/*Footer Component ends*/








/*Button Component*/
.btn{
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  height:10vh;
  width:14vw;
  justify-content: center;
  border-radius:2vw;
  font-weight:600;
  font-size:3vw;
  border:0.2vw solid white;
  text-align:center;

}