/*Main CSS Style Sheet for all Components*/
*{
  margin:0;
  padding:0;
  background-color: black;
  color:white;
  
}

button{
  text-align: center;
  align-items: center;
  justify-content: center;
}






/*Sidebar Component*/
#sidebar-container{
  height:120vh;
  background-color: black;
  border:0.5vw solid white;
  float:left;
 grid-area:sidebar;
  width:50vw;
}
#sidebar-list{
display: flex;
padding-top:2vh;
padding-left:1vh;
flex-direction:column;
list-style-type: none;
  text-decoration-line: none;
}
.sidebar-nav-link{
  text-decoration-line: none;



}
.sidebar-nav-item{
  display: flex;
  flex-direction:row;
  font-size:2.2vw;
  list-style-type: none;
  text-decoration-line: none;
  color:rgb(125, 114, 55);
}
.sidebar-nav-item:hover{
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  background-color:rgb(125, 114, 55);
  color:white;
}

.sidebar-icon{
  height:6vh;
  width:3vw;
}

#end-session-btn{
  float:bottom;
}




/*Profile Banner Component */
#profile-banner{
  width:60vw;
  height:20vw;
  border:1vw solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  float:top;
}

#banner-section-1{
display: flex;
flex-direction: row;
}

#banner-section-2{
display: flex;
flex-direction: row;

}



#profile-banner-header{
  color:gold;
  font-size:2vw;
  font-family: Arial, Helvetica, sans-serif;
}

#banner-logo{
height:9vh;
width:4.5vw;
display: flex;
align-items: center;
margin-top:1vh;

margin-right:2vh;
}

#banner-icon{

height:4vh;
width:2vw;
margin-right:2vh;
}

#profile-img{

 
  height:100vh;
  border:0.1vw solid black;
  width:15vw;
  float:right;
  margin-right:3vh;
}

/*Navbar Component*/
.navbar{
  
  height:11vh;
  
  margin-top:0;
  border:0.2vh solid white;
  border-bottom:0.5vh;
  
  display: flex;
  justify-content: space-around;
  gap:1vw;
  text-align: center;
  align-items: center;
  
  
}

.nav-items{
  color:white;
  text-decoration-line:none;
  font-size:1.3vw;
}

/*Header Component ends*/








/*Body Component*/
.body{
  height:auto;



  

 
}

.title{
  font-size:4vw;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  font-weight:600;
}
.slogan{
  font-size:4vw;
  text-align:center;
  font-size:2vw;
}

.sub-title{
  text-align:center;
  font-size:1.5vw;
}



.body-img{
  height:25vh;
  width:15vw;
  justify-content: center;
  text-align: center;
}
img{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}





/*Body Component ends*/
/*Footer Component*/

.footer{
  height:10vh;

align-items: center;
text-align: center;
  display: flex;;
border-top:0.05vw solid rgb(161, 154, 154);
}

#footer-text{
  font-size:1vw;
  display: flex;
  margin-left:60vh;
  color:rgb(166, 161, 161);
}


#footer-list{
display: flex;
flex-direction:row;
justify-content: space-between;
gap:2vh;
list-style-type:none;
float:left;
  margin-left:13vh;
}

.footer-list-items{
  list-style-type: none;
  font-size:1vw;
  font-weight:bold;
  color:gray;

}

#social-media-list{
  display: flex;
  flex-direction:row;
list-style-type:none;
margin-top:1.2vh;


  
 
   
margin-left:40vh;
align-items:center;
text-align: center;
gap:1vh;
}

.social-media-icon{
  height:4vh;
  width:4vw;

}

#linkedin-icon{
    height:5vh;
    width:3vw;
    background-color: #182434;
    
    border-radius:10%;
    font-size:1.8vw;
    color:white;
    text-decoration-line:  none;


 
    
}

#github-icon{
    
    height:5vh;
    width:2.4vw;
    background-color: #182434;
    border-radius:10%;
    font-size:2vw;
    color:white;
    text-decoration-line:  none;
  
 
    
}

#twitter-icon{  
    height:5vh;
    width:2.6vw;
  
    background-color: #182434;
    color:white;
    border-radius:10%;
    font-size:2vw;
    text-decoration-line:  none;
    
    
}










/*Footer Component ends*/





/*Button Component*/
.btn{
 background-color: #9d8559;
  color:white;
  font-weight:bold;
  height:8vh;
  width:25vw;
  font-size:1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:0.4vw;
  border: 0.2vw solid black;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  
}

.btn-icon{
 height:4.4vh;
  width:2.2vw;
  margin-right:2vh;
}

/*Card Component*/
.card{
height:50vh;
width:40vw;
background-color: #1a1e23;
border:0.3 solid rgb(255, 255, 255);
}




/*Pages*/
/*Splash Screen Page*/
#splash-screen-page-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remanned-logo{
  height:50vh;
  width:90vw;
}
/*Splash Screen Page ends*/

/*Welcome Page*/

#welcome-page-container{
  display: flex;
 
  flex-direction:column;

  justify-content: center;
  align-items: center;
  text-align: center;
gap:2vh;
          

   

}
.remanned-banner{
  width:90vw;
  height:20vh;
  margin-left:20vh;
}
#remanned-arc{
  height:20vh;
  width:90vw;


}

#welcome-page-header{
  font-size:3vw;
color: #9d8559;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-list{
 display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap:2vw;


}

#header-list-1{
  justify-content: space-around;
  width:100vw;


}



#header-list-2{
 width:100vw;
}


.header-list-items{
color:white;
font-weight:bold;
text-transform: uppercase;
text-decoration: none;
font-size:2vw;
list-style-type:none;

border-radius:0.4vw;
padding:0.4vw;


}

.header-list-items:hover{
  background-color: rgb(224, 217, 149);
  opacity:0.5vw;
}

.top-list-items{
  font-weight:700;
  font-size:3vw;
  text-transform:uppercase;
}
.mastery-item{
  text-transform:uppercase;
  font-size:3.5vw;
  font-weight:bolder;
}

#welcome-page-btn{
  width:30vw;
  margin-top:4vh;
  margin-bottom:4vh;

}





#venn-diagram-img{
  height: 33vh;
  width: 30vw;
  margin-bottom:5vh;
}



/*End of Welcome Page*/


/*Login Page*/

#login-container{
  margin-top:5vh;


}

.card-container{
  margin-left:50vh;
}
.contact-form, .input-container, .name-container, .username-container, .email-container {
    background-color: #1a1e23; /* these override the background! */
}

.input-container{
    background-color: #1a1e23;
 
}

.email-container{
  margin-bottom:2vh;
}

.logout-icon{
  height:4.4vh;
  width:2.2vw;
  margin-right:2vh;
}
#tech-support-link{
  text-transform: uppercase;
  font-size:1vw;
}
.contact-form-header{
  font-weight:700;
  color:white;

  background-color: #1a1e23;
  font-size: 3.5vw;
}
.contact-form{
color:white;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
gap:2vw;
    background-color: #1a1e23;

  height:107vh;
  width:50vw;
  border-radius:1vw;
  border-top-left-radius: 1vw;
  margin-bottom:8vh;

}


.user-admin-toggle{
  
  height:7vh;
  width:38vw;
  font-size:0.3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
   background-color: #1a1e23;
 
}
.user-admin-text{
font-size:1.7vw;
 background-color: #1a1e23;
 text-decoration-line: none;
 font-weight:bold;
}



/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.input-container{

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap:2vw;

}



.form-input-labels{
font-size:2vw;
 background-color: #1a1e23;


}

.form-input{
height:5.4vh;
width:38vw;
background-color: #272c35;
opacity: 0.6;
border-radius:0.2vw;
margin-bottom: 1vh;
align-items: center;
}

.form-input::placeholder{
  font-size:1.5vw;
  color:white;
  padding-top:0.5vh;
}

.input-container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
   background-color: #1a1e23;
 
  gap:30vh;
}

.remember-me-container{
   background-color: #1a1e23;
}

.form-input-2{/*checkbox*/
height:4vh;
width:4vw;
}


#remember-me-label{
  list-style-type: none;
  font-size:1.5vw;
 background-color: #1a1e23;
 margin-top:0vh;
 
 
}

.tech-support-btn{
   font-size:1.5vw;
    background-color: #1a1e23;
    margin-bottom:1.7vh;
    margin-top:0.8vh;
 
}
#tech-support-link{
   font-size:1.3vw;
}


/*End of Login Page*/


/*Dashboard Page*/
.dashboard-layout {

  display: grid;
  grid-template-areas:
  "banner banner"
  "sidebar main";

}

.admin-dashboard-layout{
  display: grid;
  grid-template-rows:20vw 20vw 20vw;
  grid-template-areas: 
  "top top",
  "middle-left middle-middle middle-right"
  "bottom-left bottom-right";
    height:600vh;
   
    column-gap:10vw;
}

.middle-container{
  display: flex;
  flex-direction: row;
  gap:1vw;
  margin-top:25vh;
  margin-bottom:30vh;
}
.middle-card-left{
  grid-area:middle-left;
}
.middle-card-middle{
  grid-area:middle-middle;
}

.middle-card-right{
  grid-area:middle-right;
}


/*End of Dashboard Page*/



/*Main Section Component*/
.main-section{

}

.top-card{
  grid-area:top;
  display: flex;
  flex-direction: column;

  flex-direction: column;
  justify-content: center;
  background-color: #1a1e23;
  text-align: center;
  margin:auto;
background-color: yellow;


}



#top-card-header{
color:#937d55;
font-size: 2.6vw;
background-color: #1a1e23;
margin-top:2.5vh;
margin-bottom:1vh;
}

.top-card-subheader{
color:silver;
background-color: #1a1e23;
margin-top:1vh;
font-size:1.1vw;
margin-bottom:3vh;
}

#mq-img{
  height:35vh;
  width: 20vw;;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-left:auto;
  
  margin-right:auto;
  margin-top:2vh;
  margin-bottom:3vh;
}
.mq-container{
  text-align: center;

align-items: center;  list-style-type: none;
display: flex;
justify-content: center;
flex-direction: row;
gap:5vh;
background-color: #1a1e23;
opacity: 0.7;

}

.mq-item-container{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
    background-color: #1a1e23;
}

.mq-list-option{
font-size:1vw;

  background-color: #1a1e23;
}

.mq-icons{
  height:4.2vh;
  width:2vw;
  margin-right:1.5vh;
    background-color: #1a1e23;
}

.bottom-container{
  display: flex;
  flex-direction: row;
  gap:1vh;
  margin-top:1vh;
}

.card-header{
  background-color: #1a1e23;
  font-size:1.6vw;
  margin-top:2vh;
  margin-left:2vh;
  font-weight: bolder;

}

.card-subheader{
  font-size:1vw;
  color:gray;
    background-color: #1a1e23;
}
 .progress-bar-container{
  margin-bottom:5vh;
background-color: #1a1e23;
 }


.completed-progress-bar-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1e23;
  margin-top:2vh;

}

.completed-btn{
  height:5vh;
  width:8vw;
  background-color: #22ccb2;
  border-radius: 2vw;
  font-size: 1vw;

 margin-top:1vh;
   
margin-right:4vh;
}
.completed-date{
background-color: #1a1e23;
color:gray;
  font-size: 1vw;
    margin-left:2vh;
    margin-bottom:3vh;
}

.percentage-completion-text{
  font-size: 1.1vw;
  color:gray;
   background-color: #1a1e23;
   margin-right:2vh;
}

.in-progress-bar-container{

  display: flex;
  flex-direction: column;
  height:6vh;
    background-color: #1a1e23;
    margin-top:2vh;
    margin-bottom:4vh;
}

.in-progress-bar-container-2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1a1e23;
  margin-bottom:2vh;
}

.progress-bar{
  width:38vw;
  height:1vh;
   background-color: gray;
   border-radius:1%;
   margin-left:0.8vw;
   margin-bottom:0.3vh;
}


.card-subheader{
  background-color: #1a1e23;
  font-size:1.1vw;
  color:gray;
    margin-left:2vh;
}
.bottom-card-left{
grid-area:bottom-left;
background-color: #1a1e23;

}

.bottom-card-right{
grid-area:bottom-right;
background-color: #1a1e23;
}





.phase-description{
background-color: #1a1e23;
margin-left:2vh;
}


/*Main Section Component Ends*/

/*Sidebar Component*/
#sidebar-container{
  height:100vh;
  background-color: black;
  border:0.5vw solid white;
  float:left;
  overflow: hidden;
  width:17vw;
  grid-area:"sidebar"
}
#sidebar-list{
display: flex;
padding-top:2vh;
padding-left:1vh;
flex-direction:column;
list-style-type: none;
  text-decoration-line: none;
  gap:1vh;
}
.sidebar-nav-link{
  text-decoration-line: none;



}
.sidebar-nav-item{
  display: flex;
  flex-direction:row;
  align-items: center;
  font-size:1.6vw;
  list-style-type: none;
  text-decoration-line: none;
  color:rgb(125, 114, 55);
  margin-left:0.3vw;
}
.sidebar-nav-item:hover{
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  background-color:rgb(125, 114, 55);
  color:white;
}

.sidebar-icon{
  height:5vh;
  width:2.5vw;
  margin-right:0.7vw;
}

#end-session-btn{
  float:bottom;
  width:40vw !important;
}




/*Profile Banner Component */
#profile-banner{
  width:98vw;
  height:12vh;
  border:.5vw solid white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  float:top;
  grid-area:banner;
}

#profile-banner-header{
  color:#86724c;
  font-size:2vw;
  display: flex;
  align-items: center;
}

#banner-icon{
  margin-top:2vh;
  margin-right:3vh;
}

#profile-img{
  height:8vh;
  width:4.2vw;
  margin-right:4vh;
  float:right;
}


/*Pages End*/

/*Goals Page*/

.contact-support-container{
background-color: gray;
width:79.6vw;
height:8vh;
display: flex;
flex-direction: row;
justify-content: space-between;
display: flex;
margin-top:2vh;
align-items: center;
border-radius:.2vw;
margin-left:.5vw;
}

.contact-support-text{
color:white;
background-color: gray;
font-weight:2vw;
margin-left:2vw;
font-size:1.5vw;
}

.contact-support-btn{
height:5vh;
width:8vw;
border-radius:5%;
color:white;
background-color: #182434;
margin-right:2vw;
border:0.2vw solid black;
font-weight:bold;
}


.goals-list{
background-color: #1a1e23;
margin-left:3vw;
margin-top:3vh;
}

.goal-item{
  color:gray;
  font-size:1vw;
background-color: #1a1e23;

}

.goals-sq-container{
  margin-bottom:3vh;
}

/*Goals Page End*/



/*Journal Page*/

.journal-card{

}
.reflection-features-toggle-container{
  display:flex;
  flex-direction:row;
  justify-content: center;
  background-color: #1a1e23;
 margin-top:1vh;
 margin-bottom:1vw;
 gap:1vw;
}

.reflection-features-text{
  background-color: #1a1e23;
  margin-top:1vh;
  margin-bottom:1vh;
}
.journal-card-header{
  background-color: #1a1e23;
  margin-bottom:2vh;
  
}

.journal-card-subheader{
  color:gray;
  font-size:1vw;
    background-color: #1a1e23;
    margin-bottom:2vh;
}


.journal-section-container{
  display: flex;
  justify-content: center;
  align-items: center;

flex-direction: column;
width:70vw;
  background-color: #1a1e23;
  margin-bottom:3vh;
}
.journal-section-header{
color:white;
font-size:1.4vw;
  background-color: #1a1e23;
  margin-bottom:0.5vh;
}

.journal-entry-container{
  background-color: rgb(10, 13, 21);
  color:white;
  width:45vw;
  height:14vh;
  border:0.2vw solid white;
}

.journal-entry-input{
color:white;
width:100%;
height:100%;

}

.journal-entry-input::placeholder{
  justify-content: top;
  float:top;
}

.character-count-text{
    background-color: #1a1e23;
    margin-top:0.4vh;
}
.journal-footer-text{
    background-color: #1a1e23;
}



/*Journal Page End*/















/*History Page*/

.history-banner{
  display:flex;
  flex-direction: row;
  margin-top:1vh;
  border:0.1vw solid white;
  width:80vw;
  justify-content: space-between;
  align-items: center;
}
.history-banner-container{
display: flex;
flex-direction: row;
}

.history-banner-header{

}

.history-banner-btn{
  background-color: 
#379ae6;
  color:white;
  height:5.6vh;
  width:9vw;
  margin-right:4vw;
  font-weight:bold;
  border-radius:0.2vw;
}
.history-layout{
  display: grid;
  grid-template-areas:none
}

.history-top-container{
  display: flex;
  flex-direction:row;
}

.history-top-header{
  color:white;
  background-color: #1a1e23;
   margin-top:6vh;
}

.history-top-subheader{

  margin-top:2vh;
margin-bottom:4.5fvh;
  background-color: #1a1e23;
  font-size:1.2vw;
  color:gray;
}
.history-graph{
  height:29vh;
  width:23vw;
  justify-content: center;
}
.history-bottom-container{
  display: flex;
  flex-direction:column;
}

.history-bottom-header-container{
  display: flex;
  flex-direction: row;
  background-color: #1a1e23;
  margin-left:4vw;
  margin-top:5vh;
}
.history-bottom-header{
  color:#9d8559;;
  background-color: #1a1e23;
}
.history-bottom-subheader{
  color:gray;
   background-color: #1a1e23;
   margin-bottom:3vh;
   margin-top:2.6vh;
   justify-content: left;
}
.cycle-history-table{
  height:60vh;
}
table tr td{
  color:white;
 background-color: #1a1e23;
 margin-top:3vh;
 font-size:2vw;
}

.cycle-row-header{
 background-color: #1a1e23;
 font-size:1.2vw;
 color:gray;
}
.cycle-name-row-item{
  color:white;
  font-size:1.2vw;
}
.completion-date-row-item{
 background-color: #1a1e23;
 font-size:1.2vw;
 color:gray;
}

.mastery-level-row-item{
font-size:1.2vw;
color:white;
}
tr{
   background-color: #1a1e23;
}




.domain-goals-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:70vw;
   background-color: #1a1e23;
   margin-left:2vw;
   gap:4vw;
   margin-top:2vh;
}


.domain-icon{
height:5vh;
width:4vw;
justify-content: center;
display: flex;
align-items: center;
text-align: center;
}

.domain-category{

}

.domain-score{
color:gray;
font-size:1.5vw;
}

.domain-percentage{
font-weight:1vw;
}

.domain-btn{
  color:white;
    background-color: #c31818;

   height:5vh;
   width:7vw;
   border-radius:.7vw;
   font-weight: bolder;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.history-top-domain-btn{
  margin-top:2vh;
  width:9vw;
  font-size:.9vw;
}

.completion-rate{
color:white;
font-weight:bold;
font-size:1.5vw;
  background-color: #1a1e23;
  margin-bottom:2vh;
  margin-top:5vh;
}

.key-achievements-header{
  font-weight:bold;
  color:white;
  font-size:1.3vw;
  background-color: #1a1e23;
}























/*Progress Page End*/