/*Main CSS Style Sheet for all Components*/
*{
  margin:0;
  padding:0;
  background-color: black;
  color:white;
  
}

button{
  text-align: center;
  align-items: center;
  justify-content: center;
}






/*Sidebar Component*/
#sidebar-container{
  height:120vh;
  background-color: black;
  border:0.5vw solid white;
  float:left;
 
  width:50vw;
}
#sidebar-list{
display: flex;
padding-top:2vh;
padding-left:1vh;
flex-direction:column;
list-style-type: none;
  text-decoration-line: none;
}
.sidebar-nav-link{
  text-decoration-line: none;



}
.sidebar-nav-item{
  display: flex;
  flex-direction:row;
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  color:rgb(125, 114, 55);
}
.sidebar-nav-item:hover{
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  background-color:rgb(125, 114, 55);
  color:white;
}

.sidebar-icon{
  height:6vh;
  width:3vw;
}

#end-session-btn{
  float:bottom;
}




/*Profile Banner Component */
#profile-banner{
  width:60vw;
  height:20vw;
  border:1vw solid white;
  display: flex;
  flex-direction: row;
  align-items: center;
  float:top;
}

#banner-section-1{
display: flex;
flex-direction: row;
}

#banner-section-2{
display: flex;
flex-direction: row;

}



#profile-banner-header{
  color:gold;
  font-size:2vw;
  font-family: Arial, Helvetica, sans-serif;
}

#banner-logo{
height:9vh;
width:4.5vw;
}

#banner-icon{

height:4vh;
width:2vw;
margin-right:2vh;
}

#profile-img{

 
  height:100vh;
  border:0.1vw solid black;
  width:15vw;
  float:right;
  margin-right:3vh;
}

/*Navbar Component*/
.navbar{
  
  height:11vh;
  
  margin-top:0;
  border:0.2vh solid white;
  border-bottom:0.5vh;
  
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  
  
}

.nav-items{
  color:white;
  text-decoration-line:none;
  font-size:2vw;
}

/*Header Component ends*/








/*Body Component*/
.body{
  height:auto;



  

 
}

.title{
  font-size:4vw;
  font-family: 'Courier New', Courier, monospace;
  text-align:center;
  font-weight:600;
}
.slogan{
  font-size:4vw;
  text-align:center;
  font-size:2vw;
}

.sub-title{
  text-align:center;
  font-size:1.5vw;
}



.body-img{
  height:25vh;
  width:15vw;
  justify-content: center;
  text-align: center;
}
img{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}





/*Body Component ends*/
/*Footer Component*/

.footer{
  height:10vh;

align-items: center;
text-align: center;
  display: flex;;
border-top:0.05vw solid rgb(161, 154, 154);
}

#footer-text{
  font-size:1vw;
  display: flex;
  margin-left:60vh;
  color:rgb(166, 161, 161);
}


#footer-list{
display: flex;
flex-direction:row;
justify-content: space-between;
gap:2vh;
list-style-type:none;
float:left;
  margin-left:13vh;
}

.footer-list-items{
  list-style-type: none;
  font-size:1vw;
  font-weight:bold;
  color:gray;

}

#social-media-list{
  display: flex;
  flex-direction:row;
list-style-type:none;
margin-top:1.2vh;


  
 
   
margin-left:40vh;
align-items:center;
text-align: center;
gap:1vh;
}

.social-media-icon{
  height:5vh;
  width:5vw;

}

#linkedin-icon{
    height:5vh;
    width:3vw;
    background-color: #182434;
    
    border-radius:10%;
    font-size:1.8vw;
    color:white;
    text-decoration-line:  none;


 
    
}

#github-icon{
    
    height:5vh;
    width:2.4vw;
    background-color: #182434;
    border-radius:10%;
    font-size:2vw;
    color:white;
    text-decoration-line:  none;
  
 
    
}

#twitter-icon{  
    height:5vh;
    width:2.6vw;
  
    background-color: #182434;
    color:white;
    border-radius:10%;
    font-size:2vw;
    text-decoration-line:  none;
    
    
}










/*Footer Component ends*/





/*Button Component*/
.btn{
 background-color: #9d8559;
  color:white;
  font-weight:bold;
  height:8vh;
  width:25vw;
  font-size:1.4vw;
  font-family: Arial, Helvetica, sans-serif;
  border-radius:0.4vw;
  border: 0.2vw solid black;
  display: flex;
  justify-content: center;
  text-align:center;
  align-items: center;
  
}

/*Card Component*/
.card{
height:50vh;
width:40vw;
background-color: #1a1e23;
border:0.3 solid rgb(255, 255, 255);
}




/*Pages*/
/*Splash Screen Page*/
#splash-screen-page-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.remanned-logo{
  height:50vh;
  width:90vw;
}
/*Splash Screen Page ends*/

/*Welcome Page*/

#welcome-page-container{
  display: flex;
 
  flex-direction:column;

  justify-content: center;
  align-items: center;
  text-align: center;
gap:2vh;
          

   

}
.remanned-banner{
  width:90vw;
  height:20vh;
  margin-left:20vh;
}
#remanned-arc{
  height:20vh;
  width:90vw;


}

#welcome-page-header{
  font-size:3vw;
color: #9d8559;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-list{
 display: flex;
  flex-direction: row;
  justify-content: space-between;
  


}

#header-list-1{
  justify-content: space-around;
  width:100vw;


}



#header-list-2{
 width:100vw;
}
.header-list-items{
color:white;
font-weight:bold;
text-transform: uppercase;
text-decoration: none;
font-size:2vw;
list-style-type:none;

border-radius:0.4vw;
padding:0.4vw;


}

.header-list-items:hover{
  background-color: rgb(224, 217, 149);
  opacity:0.5vw;
}

#welcome-page-btn{
  width:30vw;

}





#venn-diagram-img{
  height: 30vh;
  width: 30vw;
  margin-bottom:5vh;
}



/*End of Welcome Page*/


/*Login Page*/

#login-container{
  margin-top:5vh;


}

.card-container{
  margin-left:50vh;
}
.contact-form, .input-container, .name-container, .username-container, .email-container {
    background-color: #1a1e23; /* these override the background! */
}

.input-container{
    background-color: #1a1e23;
 
}

#text-support-link{
  text-transform: uppercase;
}
.contact-form-header{
  font-weight:bold;
  color:white;

  background-color: #1a1e23;
  font-size: 3.5vw;
}
.contact-form{
color:white;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
align-items: center;
gap:2vw;
    background-color: #1a1e23;

  height:107vh;
  width:50vw;
  border-radius:1vw;
  margin-bottom:8vh;

}


.user-admin-toggle{
  
  height:7vh;
  width:30vw;
  font-size:0.3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
   background-color: #1a1e23;
 
}
.user-admin-text{
font-size:1.7vw;
 background-color: #1a1e23;
 
}

.toggle-switch{
   position: relative;
  display: inline-block;
  width: 2vw;
  height: 2vh;
  margin-left:2vh;
  margin-right:2vh;
  justify-content: center;
}

.slider{
   position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3; /* Blue when checked */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.input-container{

display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
gap:2vw;

}



.form-input-labels{
font-size:2vw;
 background-color: #1a1e23;
 

}

.form-input{
height:5.4vh;
width:38vw;
background-color: #272c35;
opacity: 0.6;
border-radius:0.2vw;
align-items: center;
}

.form-input::placeholder{
  font-size:1.5vw;
  color:white;
  padding-top:0.5vh;
}

.input-container-2{
  display: flex;
  flex-direction: row;
   background-color: #1a1e23;
 
  gap:4vh;
}

.form-input-2{/*checkbox*/
height:4vh;
width:4vw;
}
#remember-me-label{
  list-style-type: none;
  font-size:1.5vw;
 background-color: #1a1e23;
 
 
}

.tech-support-btn{
   font-size:1.5vw;
    background-color: #1a1e23;
    margin-bottom:2vh;
 
}
#tech-support-link{
   font-size:1.5vw;
}


/*End of Login Page*/


/*Dashboard Page*/
.dashboard-layout {

}

#main-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 15px;
}



/*End of Dashboard Page*/



/*Main Section Component*/
#main-section{
  display: flex;
  flex-direction: column;

  height:105vh;
width:77vw;
background-color: rgb(174, 174, 124)  ;


}

#top-card{
width:50vw ;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
}

#top-card-header{
color:#937d55;
font-size: 3vw;
}

#top-card-subheader{
color:silver;
}
#mq-list{
list-style-type: none;
display: flex;
flex-direction: row;
justify-content: space-between;
background-color: #1a1e23;
opacity: 0.7;

}

.mq-list-option{

}
#bottom-card-container{
  display: flex;
  flex-direction: row;
}
.bottom-card{

}
/*Main Section Component Ends*/

/*Sidebar Component*/
#sidebar-container{
  height:100vh;
  background-color: black;
  border:0.5vw solid white;
  float:left;
  overflow: hidden;
  width:17vw;
}
#sidebar-list{
display: flex;
padding-top:2vh;
padding-left:1vh;
flex-direction:column;
list-style-type: none;
  text-decoration-line: none;
}
.sidebar-nav-link{
  text-decoration-line: none;



}
.sidebar-nav-item{
  display: flex;
  flex-direction:row;
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  color:rgb(125, 114, 55);
}
.sidebar-nav-item:hover{
  font-size:3vw;
  list-style-type: none;
  text-decoration-line: none;
  background-color:rgb(125, 114, 55);
  color:white;
}

.sidebar-icon{
  height:6vh;
  width:3vw;
}

#end-session-btn{
  float:bottom;
  width:40vw !important;
}




/*Profile Banner Component */
#profile-banner{
  width:98vw;
  height:12vh;
  border:.5vw solid white;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  float:top;
}

#profile-banner-header{
  color:#86724c;
  font-size:2vw;
}

#profile-img{
  height:5vh;
  width:5vw;
  float:right;
}


/*Pages End*/